<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Really Safe Sign in</title>
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
</head>

<body translate="no">
<div class="container">
    <h1>Sign in</h1>
    <form id="login-form" action="{{ url_for('sign_in') }}" method="post">
        <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
        <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
        <input type="submit" value="Log In">
    </form>
{#    <button class="button button1" id="login-btn" onclick="auth('login')">Login</button>#}
</div>
{#<script src="/JS/login.js"></script>#}
</body>
</html>